<!DOCTYPE html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- SEO Meta Tags -->
  <meta name="description"
    content="LDrago Solutions is a indian based software service startup dreamed to land the client business ideas in to real world.">
  <meta name="author" content="LDragoSolutions">

  <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
  <meta property="og:site_name" content="LDrago Solutions" /> <!-- website name -->
  <meta property="og:site" content="http://ldragosolutions.in/" /> <!-- website link -->
  <meta property="og:title" content="LDrago Solutions" /> <!-- title shown in the actual shared post -->
  <meta property="og:description" content="We Build- We Test- We Deploy" />
  <!-- description shown in the actual shared post -->
  <meta property="og:image"
    content="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/118399266_2632974503625818_7318934320016655174_n.jpg?_nc_cat=110&_nc_sid=730e14&_nc_ohc=cirOvolgUj8AX-pvF5H&_nc_ht=scontent.fblr8-1.fna&oh=1b34fdc1a84290f43a77c51b6d169e95&oe=5F6FC2AE" />
  <!-- image link, make sure it's jpg -->
  <meta property="og:url" content="http://ldragosolutions.in/" /> <!-- where do you want your post to link to -->
  <meta property="og:type" content="Software Services" />

  <!-- Website Title -->
  <title>LDragoSolutions</title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <!-- Styles -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>


  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
    rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/fontawesome-all.css" rel="stylesheet">
  <link href="css/swiper.css" rel="stylesheet">
  <link href="css/magnific-popup.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/timeline.css" rel="stylesheet">


  <!-- Favicon  -->
  <link rel="icon" href="images/logo.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">

  <!-- Preloader -->
  <div class="spinner-wrapper">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <!-- end of preloader -->


  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.png" alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-awesome fas fa-bars"></span>
      <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">

          <a class="nav-link page-scroll" href="/">
            Home
          </a>
        </li>

        <li class="nav-item">

          <a class="nav-link page-scroll" href="/ourworks">
            <font style=" border-bottom: 2px solid #cccccc;padding:2px;">Our works </font>
          </a>

        </li>
        <li class="nav-item">

          <a class="nav-link page-scroll" href="/aboutus">About us</a>

        </li>

        <li class="nav-item">

          <a class="nav-link page-scroll" href="/connect">Connect</a>

        </li>
      </ul>

    </div>
  </nav> <!-- end of navbar -->
  <!-- end of navbar -->


  <!-- Header -->
  <header id="header" class="ex-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="text-align: left;">LDrago<font color="#d70000 "> Workspace</font>
          </h1>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </header> <!-- end of ex-header -->
  <!-- end of header -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="main-timeline">
          <div class="timeline">
            <a class="timeline-content">
              <span class="timeline-year">Plan</span>

              <div class="content">

                <p class="description">
                  Each project starts with requirement planning and market research. Our
                  business analyst team
                  understands the client’s product idea and suggests your features based on the
                  feasibility of product and
                  market demands.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a class="timeline-content">
              <span class="timeline-year">Analyze</span>

              <div class="content">

                <p class="description">
                  Based on Project
                  requirements and
                  targeted audience, Our designer team crafts the best possible UI that is
                  user-friendly as we are as
                  efficient.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a class="timeline-content">
              <span class="timeline-year">Build </span>

              <div class="content">

                <p class="description">
                  LDrago expert
                  developers of individual
                  technologies Code the optimum system with the newest hybrid application software
                  development that's
                  feature-rich and efficient.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a class="timeline-content">
              <span class="timeline-year">Test</span>

              <div class="content">

                <p class="description">
                  Thoroughly
                  tested software ensures reliable and high-performance software operation. Before
                  deployment of any
                  project, our Quality assurance team makes sure the product is bug-free and reliable
                  as per your
                  expectations.
                </p>
              </div>
            </a>
          </div>

          <div class="timeline">
            <a class="timeline-content">
              <span class="timeline-year">Deploy</span>

              <div class="content">

                <p class="description">
                  Hurray! we are dedicated in reaching goals that builds the
                  confidence in developers and trust towards the company. We Deploy the products with quality assurance
                  on time.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer-col">
            <h4>LDrago Solutions</h4>
            <p>Your product is in our hands</p>
          </div>
        </div>
        <!-- end of col -->

        <div class="col-md-3">
          <h4>Services We Provide</h4>
          <div class="footer-col middle">
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">Mobile app development</div>
              </li>

              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">Web app development</div>
              </li>
              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">Web Hosting services</div>
              </li>
              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">E-Commerce Solutions</div>
              </li>
            </ul>
          </div>
        </div>
        <!-- end of col -->

        <div class="col-md-2">

          <h4> <i class="fas fa-laptop" style="color: white;"></i></h4>
          <div class="footer-col middle">
            <ul class="list-unstyled li-space-lg">

              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">Usability Testing</div>
              </li>
              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">UI/UX Design</div>
              </li>
            </ul>
          </div>
        </div>
        <!-- end of col -->

        <div class="col-md-4">
          <div class="footer-col last">
            <h4>Social Media</h4>
            <span class="fa-stack">
              <a href="https://www.facebook.com/ldragosolutions/" target="_blank">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x"></i>
              </a>
            </span>
            <span class="fa-stack">
              <a href="https://twitter.com/SolutionsDrago" target="_blank">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x"></i>
              </a>
            </span>
            <span class="fa-stack">
              <a href="mailto:LdragoSolutions@gmail.com" target="_blank">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-google-plus-g fa-stack-1x"></i>
              </a>
            </span>
            <span class="fa-stack">
              <a href="https://www.instagram.com/ldrago_solutions/" target="_blank">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x"></i>
              </a>
            </span>
            <span class="fa-stack">
              <a href="https://www.linkedin.com/in/ldrago-solutions-0087031b1/" target="_blank">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin-in fa-stack-1x"></i>
              </a>
            </span>
          </div>
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of footer -->
  <!-- end of footer -->




  <!-- Scripts -->
  <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
  <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
  <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
  <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
  <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
  <script src="js/scripts.js"></script> <!-- Custom scripts -->

  <script src='https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.js'></script>
</body>

</html>