
.cardinfo {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 70%;
}

.cardinfo h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.cardinfo h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}
.cardinfo h3 {
	color: #fff;
}
.cardinfo-preview {
	background-color: #d70000;
	color: #fff;
	padding: 30px;
	width:300px;
	
}

.cardinfo-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	
	text-decoration: none;
}
.cardinfo-preview h3{
	margin-top: 30px;
}

.cardinfo-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

